body,html {
    height: 100%;
    margin: 0;
}

.bg {
    /* The image used */
    background-image: url("./frejun.jpeg");

    /* Full height */
    height: 100vh;
    width: 100vw;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.blankBG {
    /* The image used */
    background-image: url("./bg.jpeg");

    /* Full height */
    height: 100vh;
    width: 100vw;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.button{
    background-color:greenyellow;
    margin: 30px 0;
    border-radius: 4px;
    padding: 10px 15px;
    min-width: 80px;
    text-align: center;
    font-size: 1.2em;
    color: black;
    cursor: pointer;
}
.container{
    padding-top: 20%;
    padding-left: 3%;
}

